.login-form {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
}

.field-label {
  padding: 5px;
  color: black;
}

.field-label__input {
  padding: 2px;
}
