.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signup-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  background-color: #d0ccd0;
}

.field-label {
  padding: 5px;
}

.field-label__input {
  padding: 2px;
}
