li {
  list-style-type: none;
}

.header {
  padding: 10px;
  text-align: center;
  background: #d0ccd0;
  color: black;
  font-size: 20px;
  width: 100%;
  border: 1px solid black;
  margin: 4px;
}

.nav-items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 50%;
}

.nav-links {
  color: black;
}

.is-active {
  color: #ed1c24;
}


.profile-button {
  margin: 5px;
  padding: 3px;
  width: 40px;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 350px;
  height: 100px;
}
